In [1]:
#Importing required libraries
#Data preprocessing
import pandas as pd
import numpy as np

#Data Encoding
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

#train test split
from sklearn.model_selection import train_test_split

#importing classification Models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

#Importing metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
#Read data
df=pd.read_excel('Data/matches.xlsx')
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [3]:
df1=df.copy()

In [4]:
df1.venue.value_counts()

M Chinnaswamy Stadium                                   66
Eden Gardens                                            61
Feroz Shah Kotla                                        60
Wankhede Stadium                                        57
Rajiv Gandhi International Stadium, Uppal               49
MA Chidambaram Stadium, Chepauk                         48
Punjab Cricket Association Stadium, Mohali              35
Sawai Mansingh Stadium                                  33
Dr DY Patil Sports Academy                              17
Subrata Roy Sahara Stadium                              17
Maharashtra Cricket Association Stadium                 15
Kingsmead                                               15
SuperSport Park                                         12
Sardar Patel Stadium, Motera                            12
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Punjab Cricket Association IS Bindra Stadium, Mohali    11
Brabourne Stadium                                       11
Saurashtra Cricket Association Stadium                  10
Himachal Pradesh Cricket Association Stadium             9
New Wanderers Stadium                                    8
Barabati Stadium                                         7
Sheikh Zayed Stadium                                     7
St George's Park                                         7
JSCA International Stadium Complex                       7
Newlands                                                 7
Dubai International Cricket Stadium                      7
Sharjah Cricket Stadium                                  6
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Holkar Cricket Stadium                                   5
Green Park                                               4
De Beers Diamond Oval                                    3
Vidarbha Cricket Association Stadium, Jamtha             3
Buffalo Park                                             3
OUTsurance Oval                                          2
Name: venue, dtype: int64

In [5]:
df.shape

(636, 18)

In [6]:
df.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               3
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              1
umpire2              1
umpire3            636
dtype: int64

In [7]:
len(df.city.value_counts())

30

In [8]:
df.city = df.city.fillna(df.city.mode()[0])

In [9]:
df1.venue.value_counts().head()

M Chinnaswamy Stadium                        66
Eden Gardens                                 61
Feroz Shah Kotla                             60
Wankhede Stadium                             57
Rajiv Gandhi International Stadium, Uppal    49
Name: venue, dtype: int64

In [10]:
df.venue.value_counts().head()

M Chinnaswamy Stadium                        66
Eden Gardens                                 61
Feroz Shah Kotla                             60
Wankhede Stadium                             57
Rajiv Gandhi International Stadium, Uppal    49
Name: venue, dtype: int64

In [11]:
df.winner=df.winner.fillna(df.winner.mode()[0])

In [12]:
df.isnull().sum()

id                   0
season               0
city                 0
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               0
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              1
umpire2              1
umpire3            636
dtype: int64

In [13]:
len(df.player_of_match.value_counts())

201

In [14]:
df.player_of_match=df.player_of_match.fillna(df.player_of_match.mode()[0])

In [15]:
len(df.umpire1.value_counts())

44

In [16]:
df.nunique()

id                 636
season              10
city                30
date               450
team1               14
team2               14
toss_winner         14
toss_decision        2
result               3
dl_applied           2
winner              14
win_by_runs         86
win_by_wickets      11
player_of_match    201
venue               35
umpire1             44
umpire2             45
umpire3              0
dtype: int64

In [17]:
# df.umpire1=df.umpire1.fillna(df.umpire1.mode()[0])
# df.umpire2=df.umpire2.fillna(df.umpire2.mode()[0])

In [18]:
df.isnull().sum()

id                   0
season               0
city                 0
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               0
win_by_runs          0
win_by_wickets       0
player_of_match      0
venue                0
umpire1              1
umpire2              1
umpire3            636
dtype: int64

In [19]:
df.drop(['id','date', 'umpire3', 'umpire1', 'umpire2', 'player_of_match','season'],axis=1, inplace=True)

In [20]:
df.nunique()

city              30
team1             14
team2             14
toss_winner       14
toss_decision      2
result             3
dl_applied         2
winner            14
win_by_runs       86
win_by_wickets    11
venue             35
dtype: int64

In [21]:
from sklearn.preprocessing import LabelEncoder
for obj in df.select_dtypes(include='object').columns:
    print(obj)
    le = LabelEncoder()
    df[obj] = le.fit_transform(df[obj])

city
team1
team2
toss_winner
toss_decision
result
winner
venue

In [22]:
df.head()

,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,13,13,12,12,1,1,0,13,35,0,23
1,24,7,10,10,1,1,0,10,0,7,16
2,26,3,6,6,1,1,0,6,0,10,25
3,14,10,4,4,1,1,0,4,0,6,11
4,2,12,2,12,0,1,0,12,15,0,14

In [23]:
# df.groupby('season').size().sort_values(ascending=False)

In [24]:
# from sklearn.preprocessing import OrdinalEncoder
# OE = OrdinalEncoder()
# impute_reshape = np.array(df.season).reshape(-1,1)
# OE_encode = OE.fit_transform(impute_reshape)
# df.season=np.squeeze(OE_encode)

In [25]:
# df.season=df.season.astype(int)

In [26]:
df.iloc[0].values

array([13, 13, 12, 12,  1,  1,  0, 13, 35,  0, 23], dtype=int64)

In [27]:
X=df.drop('winner',axis=1)
y=df[['winner']]

In [28]:
#Train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=44)

In [29]:
#Feature scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(x_train)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
X_scaled.head()

,city,team1,team2,toss_winner,toss_decision,result,dl_applied,win_by_runs,win_by_wickets,venue
0,-1.398745,1.450912,-1.278268,-1.222752,0.810093,-0.032393,-0.146333,-0.451216,-0.967043,-0.366975
1,0.851512,0.006058,-1.529291,0.020857,-1.234427,-0.032393,6.833740,-0.451216,-0.967043,-1.100265
2,0.851512,-0.475560,-0.023155,-0.476586,-1.234427,-0.032393,-0.146333,-0.583665,-0.672860,-1.100265
3,0.851512,1.691721,-0.023155,0.020857,0.810093,-0.032393,-0.146333,-0.583665,0.209691,-1.100265
4,0.726498,-0.234751,1.482981,-0.227865,-1.234427,-0.032393,-0.146333,-0.583665,0.798058,-0.052707

In [55]:
len(x_train.columns)

10

In [31]:
#Model using DecisionTreeClassifier
DT = DecisionTreeClassifier(criterion= 'entropy', max_depth=9, min_samples_split= 10)
DT_fit = DT.fit(x_train, y_train)
y_pred_DT = DT_fit.predict(x_test)
print('DT_score :', accuracy_score(y_test,y_pred_DT))

DT_score : 0.9371069182389937

In [32]:
#DT_fit.predict_proba()

In [33]:
#Model using RandomForestClassifier
RF = RandomForestClassifier()
RF_fit = RF.fit(x_train, y_train)
y_pred_RF = RF_fit.predict(x_test)
print('RF_score :', accuracy_score(y_test,y_pred_RF))

RF_score : 0.779874213836478

In [34]:
param_dict = {
    'criterion':['gini','entropy'],
    #'max_depth': np.arange(3, 25),
    'min_samples_split' : range(10,500,10),
    'max_depth': range(1,30,2)
}

In [35]:
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(DT, param_grid = param_dict, cv = 10, verbose=True, n_jobs=-1)

In [36]:
# clf.fit(x_train,y_train)

In [37]:
# clf.best_params_

In [38]:
import pickle

In [39]:
pickle_out = open("DT_model.pkl","wb")
pickle.dump(DT_fit, pickle_out)
pickle_out.close()

In [40]:
model= pickle.load(open('DT_model.pkl','rb'))

In [41]:
# pd.DataFrame(model.predict_proba([[  9, 13, 13, 12, 12,  1,  1,  0, 13, 35,  0]]))

In [42]:
toss = {"Field":1,"Bat":0}

outcome = {"Normal":1,"Tie":2, "No result":0}

dl_method = {'Yes':1, 'No':0}

In [43]:
def team():
    team_json={} 
    team_translate={}
    for i in range(len(df1.winner.value_counts().index)):
        #print(i)
        keys=df1.winner.value_counts().index[i]
        values=df.winner.value_counts().index[i]
        team_json[keys]=int(values)
        team_translate[int(values)]=keys
    return team_json,team_translate

team, team_trans=team()

In [44]:
def city():
    city_json={} 
    for i in range(len(df1.city.value_counts().index)):
        #print(i)
        keys=df1.city.value_counts().index[i]
        values=df.city.value_counts().index[i]
        city_json[keys]=int(values)
    return city_json

place=city()

In [45]:
def venue():
    venue_json={} 
    for i in range(len(df1.venue.value_counts().index)):
        #print(i)
        keys=df1.venue.value_counts().index[i]
        values=df.venue.value_counts().index[i]
        venue_json[keys]=int(values)
    return venue_json

ground=venue()

In [46]:
print(team)
print('\n')
print(place)
print('\n')
print(ground)
print('\n')
print(toss)
print('\n')
print(outcome)
print('\n')
print(team_trans)

{'Mumbai Indians': 7, 'Chennai Super Kings': 0, 'Kolkata Knight Riders': 6, 'Royal Challengers Bangalore': 12, 'Kings XI Punjab': 4, 'Rajasthan Royals': 9, 'Delhi Daredevils': 2, 'Sunrisers Hyderabad': 13, 'Deccan Chargers': 1, 'Gujarat Lions': 3, 'Pune Warriors': 8, 'Rising Pune Supergiant': 10, 'Kochi Tuskers Kerala': 5, 'Rising Pune Supergiants': 11}


{'Mumbai': 21, 'Bangalore': 2, 'Kolkata': 20, 'Delhi': 9, 'Hyderabad': 13, 'Chennai': 7, 'Chandigarh': 6, 'Jaipur': 15, 'Pune': 24, 'Durban': 11, 'Ahmedabad': 1, 'Centurion': 5, 'Visakhapatnam': 29, 'Rajkot': 26, 'Dharamsala': 10, 'Johannesburg': 16, 'Ranchi': 8, 'Cuttack': 4, 'Port Elizabeth': 0, 'Cape Town': 23, 'Abu Dhabi': 27, 'Raipur': 28, 'Sharjah': 25, 'Indore': 19, 'Kochi': 14, 'Kanpur': 17, 'Nagpur': 12, 'Kimberley': 18, 'East London': 22, 'Bloemfontein': 3}


{'M Chinnaswamy Stadium': 14, 'Eden Gardens': 7, 'Feroz Shah Kotla': 8, 'Wankhede Stadium': 34, 'Rajiv Gandhi International Stadium, Uppal': 23, 'MA Chidambaram Stadium, Chepauk': 15, 'Punjab Cricket Association Stadium, Mohali': 22, 'Sawai Mansingh Stadium': 26, 'Dr DY Patil Sports Academy': 4, 'Subrata Roy Sahara Stadium': 31, 'Maharashtra Cricket Association Stadium': 16, 'Kingsmead': 13, 'SuperSport Park': 24, 'Sardar Patel Stadium, Motera': 32, 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 5, 'Punjab Cricket Association IS Bindra Stadium, Mohali': 1, 'Brabourne Stadium': 21, 'Saurashtra Cricket Association Stadium': 25, 'Himachal Pradesh Cricket Association Stadium': 10, 'New Wanderers Stadium': 18, 'Barabati Stadium': 12, 'Sheikh Zayed Stadium': 6, "St George's Park": 0, 'JSCA International Stadium Complex': 19, 'Newlands': 29, 'Dubai International Cricket Stadium': 30, 'Sharjah Cricket Stadium': 27, 'Shaheed Veer Narayan Singh International Stadium': 28, 'Nehru Stadium': 11, 'Holkar Cricket Stadium': 17, 'Green Park': 9, 'De Beers Diamond Oval': 33, 'Vidarbha Cricket Association Stadium, Jamtha': 3, 'Buffalo Park': 2, 'OUTsurance Oval': 20}


{'Field': 1, 'Bat': 0}


{'Normal': 1, 'Tie': 2, 'No result': 0}


{7: 'Mumbai Indians', 0: 'Chennai Super Kings', 6: 'Kolkata Knight Riders', 12: 'Royal Challengers Bangalore', 4: 'Kings XI Punjab', 9: 'Rajasthan Royals', 2: 'Delhi Daredevils', 13: 'Sunrisers Hyderabad', 1: 'Deccan Chargers', 3: 'Gujarat Lions', 8: 'Pune Warriors', 10: 'Rising Pune Supergiant', 5: 'Kochi Tuskers Kerala', 11: 'Rising Pune Supergiants'}

In [47]:
team['Mumbai Indians']

7

In [48]:
import json

In [49]:
json_obj={"team1":team,
          "team_trans":team_trans,
         'place1':place,
         'ground1':ground,
         'toss1':toss,
         'outcome1':outcome,
          'dl_method':dl_method
          }

In [50]:
json_obj

{'team1': {'Mumbai Indians': 7,
  'Chennai Super Kings': 0,
  'Kolkata Knight Riders': 6,
  'Royal Challengers Bangalore': 12,
  'Kings XI Punjab': 4,
  'Rajasthan Royals': 9,
  'Delhi Daredevils': 2,
  'Sunrisers Hyderabad': 13,
  'Deccan Chargers': 1,
  'Gujarat Lions': 3,
  'Pune Warriors': 8,
  'Rising Pune Supergiant': 10,
  'Kochi Tuskers Kerala': 5,
  'Rising Pune Supergiants': 11},
 'team_trans': {7: 'Mumbai Indians',
  0: 'Chennai Super Kings',
  6: 'Kolkata Knight Riders',
  12: 'Royal Challengers Bangalore',
  4: 'Kings XI Punjab',
  9: 'Rajasthan Royals',
  2: 'Delhi Daredevils',
  13: 'Sunrisers Hyderabad',
  1: 'Deccan Chargers',
  3: 'Gujarat Lions',
  8: 'Pune Warriors',
  10: 'Rising Pune Supergiant',
  5: 'Kochi Tuskers Kerala',
  11: 'Rising Pune Supergiants'},
 'place1': {'Mumbai': 21,
  'Bangalore': 2,
  'Kolkata': 20,
  'Delhi': 9,
  'Hyderabad': 13,
  'Chennai': 7,
  'Chandigarh': 6,
  'Jaipur': 15,
  'Pune': 24,
  'Durban': 11,
  'Ahmedabad': 1,
  'Centurion': 5,
  'Visakhapatnam': 29,
  'Rajkot': 26,
  'Dharamsala': 10,
  'Johannesburg': 16,
  'Ranchi': 8,
  'Cuttack': 4,
  'Port Elizabeth': 0,
  'Cape Town': 23,
  'Abu Dhabi': 27,
  'Raipur': 28,
  'Sharjah': 25,
  'Indore': 19,
  'Kochi': 14,
  'Kanpur': 17,
  'Nagpur': 12,
  'Kimberley': 18,
  'East London': 22,
  'Bloemfontein': 3},
 'ground1': {'M Chinnaswamy Stadium': 14,
  'Eden Gardens': 7,
  'Feroz Shah Kotla': 8,
  'Wankhede Stadium': 34,
  'Rajiv Gandhi International Stadium, Uppal': 23,
  'MA Chidambaram Stadium, Chepauk': 15,
  'Punjab Cricket Association Stadium, Mohali': 22,
  'Sawai Mansingh Stadium': 26,
  'Dr DY Patil Sports Academy': 4,
  'Subrata Roy Sahara Stadium': 31,
  'Maharashtra Cricket Association Stadium': 16,
  'Kingsmead': 13,
  'SuperSport Park': 24,
  'Sardar Patel Stadium, Motera': 32,
  'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 5,
  'Punjab Cricket Association IS Bindra Stadium, Mohali': 1,
  'Brabourne Stadium': 21,
  'Saurashtra Cricket Association Stadium': 25,
  'Himachal Pradesh Cricket Association Stadium': 10,
  'New Wanderers Stadium': 18,
  'Barabati Stadium': 12,
  'Sheikh Zayed Stadium': 6,
  "St George's Park": 0,
  'JSCA International Stadium Complex': 19,
  'Newlands': 29,
  'Dubai International Cricket Stadium': 30,
  'Sharjah Cricket Stadium': 27,
  'Shaheed Veer Narayan Singh International Stadium': 28,
  'Nehru Stadium': 11,
  'Holkar Cricket Stadium': 17,
  'Green Park': 9,
  'De Beers Diamond Oval': 33,
  'Vidarbha Cricket Association Stadium, Jamtha': 3,
  'Buffalo Park': 2,
  'OUTsurance Oval': 20},
 'toss1': {'Field': 1, 'Bat': 0},
 'outcome1': {'Normal': 1, 'Tie': 2, 'No result': 0},
 'dl_method': {'Yes': 1, 'No': 0}}

In [51]:
type(json_obj)

dict

In [52]:
with open('json_codes.json', 'w') as file:
    json.dump(json_obj, file)

In [53]:
df1.team1.value_counts()

Mumbai Indians                 82
Chennai Super Kings            77
Kings XI Punjab                77
Royal Challengers Bangalore    70
Kolkata Knight Riders          68
Delhi Daredevils               63
Rajasthan Royals               54
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  14
Rising Pune Supergiant          8
Rising Pune Supergiants         7
Kochi Tuskers Kerala            7
Name: team1, dtype: int64